In [1]:
import numpy as np
from pyarrow import csv as csv
import pandas as pd

In [2]:
df = pd.read_csv(r"C:/Users/Anoban/Downloads/BioTIMEQuery_24_06_2021/BioTIMEQuery_24_06_2021.csv", engine = "c", low_memory = False,
                 on_bad_lines = "skip")

In [3]:
df.columns

Index(['Unnamed: 0', 'STUDY_ID', 'DAY', 'MONTH', 'YEAR', 'SAMPLE_DESC', 'PLOT',
       'ID_SPECIES', 'LATITUDE', 'LONGITUDE', 'sum.allrawdata.ABUNDANCE',
       'sum.allrawdata.BIOMASS', 'GENUS', 'SPECIES', 'GENUS_SPECIES'],
      dtype='object')

In [4]:
df.shape

(8552249, 15)

In [5]:
df.dtypes

Unnamed: 0                    int64
STUDY_ID                      int64
DAY                         float64
MONTH                       float64
YEAR                          int64
SAMPLE_DESC                  object
PLOT                         object
ID_SPECIES                    int64
LATITUDE                    float64
LONGITUDE                   float64
sum.allrawdata.ABUNDANCE    float64
sum.allrawdata.BIOMASS      float64
GENUS                        object
SPECIES                      object
GENUS_SPECIES                object
dtype: object

In [6]:
df.YEAR.unique()

array([1984, 1992, 1996, 1923, 1926, 1927, 1929, 1930, 1931, 1932, 1933,
       1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1945, 1946,
       1947, 1949, 1950, 1951, 1952, 1954, 1955, 1956, 1957, 1973, 2005,
       1997, 2003, 2000, 2001, 2007, 1993, 1999, 1995, 2006, 2008, 2004,
       2009, 1994, 1998, 2002, 1976, 1977, 1978, 1979, 1980, 1988, 1989,
       1990, 1991, 1981, 1982, 1983, 1986, 1987, 1970, 1971, 1972, 1974,
       1975, 2012, 2013, 2014, 2015, 2010, 2011, 1924, 1928, 1948, 1953,
       1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968,
       1969, 1985, 1921, 1905, 1904, 1903, 1906, 1907, 1908, 1909, 1911,
       1874, 1914, 1889, 1915, 1902, 1900, 1925, 1910, 1944, 1919, 1920,
       1943, 1916, 1917, 2016, 1913, 1918, 1898, 1922, 2017, 2018],
      dtype=int64)

In [8]:
df.loc[:, "sum.allrawdata.BIOMASS"].mean()

6540004.159463165

In [9]:
df.loc[:, "sum.allrawdata.BIOMASS"].min()

0.0

In [10]:
df.loc[:, "sum.allrawdata.BIOMASS"].max()

27237600000000.0

In [11]:
df.loc[:, "sum.allrawdata.BIOMASS"].median()

0.0

In [12]:
df.head()

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
0,1,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Medium,12,22,47.4,-95.12,1.0,0.0,Acer,rubrum,Acer rubrum
1,2,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Medium,12,23,47.4,-95.12,3.0,0.0,Acer,saccharum,Acer saccharum
2,3,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Medium,12,24,47.4,-95.12,1.0,0.0,Acer,spicatum,Acer spicatum
3,4,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Medium,12,607,47.4,-95.12,12.0,0.0,Corylus,cornuta,Corylus cornuta
4,5,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Small,12,1911,47.4,-95.12,1.0,0.0,Populus,pinnata,Populus pinnata