In [1]:
import numpy as np
import pandas as pd

In [16]:
data = pd.read_csv("./NY-ReportCards.csv", na_values = 's').dropna(axis = 0)
data = data.loc[data.SUBGROUP_NAME != "All Students", :]

In [17]:
data.shape

(59113, 7)

In [20]:
data.columns

Index(['ENTITY_NAME', 'YEAR', 'SUBGROUP_NAME', 'ENROLLMENT', 'ABSENT_COUNT',
       'ABSENT_RATE', 'SCHOOL_TYPE'],
      dtype='object')

In [22]:
data.groupby(["SUBGROUP_NAME", "YEAR"]).aggregate({"ABSENT_RATE": np.mean})

                                                      ABSENT_RATE
SUBGROUP_NAME                                   YEAR
American Indian or Alaska Native                2021    38.422353
                                                2022    48.421176
Asian or Native Hawaiian/Other Pacific Islander 2021    12.999236
                                                2022    20.924327
Black or African American                       2021    36.356946
                                                2022    44.312947
Economically Disadvantaged                      2021    30.699142
                                                2022    40.224123
English Language Learner                        2021    31.875331
                                                2022    37.094688
Hispanic or Latino                              2021    30.650966
                                                2022    40.786109
Multiracial                                     2021    26.333362
                                                2022    32.348983
Students with Disabilities                      2021    30.868506
                                                2022    40.325484
White                                           2021    17.001248
                                                2022    25.307869